name: Publish

on:
  push:
    branches:
      - main

jobs:
  publish:
    name: Build for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: true
      matrix:
        include:
          - os: windows-latest
            artifact_name: ApiChain_windows
            build_args: --windows
            unpack_folder: win-unpacked
          - os: macos-latest
            artifact_name: ApiChain_macos
            build_args: --mac
            unpack_folder: macos-unpacked
          - os: linux-latest
            artifact_name: ApiChain_linux
            build_args: --mac
            unpack_folder: linux-unpacked

    steps:
      - name: Checkout git repo
        uses: actions/checkout@v4

      - name: Install Node and NPM
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'yarn'

      - name: Install and build
        run: |
          yarn install
          yarn postinstall
          yarn build

      - name: Publish releases
        run: |
          yarn electron-builder -- --publish never ${{ matrix.build_args }}
          yarn rimraf release/build/${{ matrix.unpack_folder }}
          
      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact_name }}
          path: release/build/