name: Publish

on:
  push:
    branches:
      - main

jobs:
  publish:
    name: Build for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: true
      matrix:
        include:
          - os: windows-latest
            artifact_name: ApiChain_windows
          - os: macos-latest
            artifact_name: ApiChain_macos
          - os: ubuntu-latest
            artifact_name: ApiChain_linux

    steps:
      - name: Checkout git repo
        uses: actions/checkout@v4

      - name: Install Node and NPM
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'yarn'

      - name: Install and build
        run: |
          yarn
          yarn build

      - name: Publish releases
        run: |
          yarn electron-builder build --publish never
          yarn ts-node ./.erb/scripts/remove-unpack-dir.js
          
      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact_name }}
          path: release/build/