name: Publish

on:
  push:
    branches:    
      - main

jobs:
  publish:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        # os: [macos-latest]
        # os: [windows-latest]
        os: [ubuntu-latest]

    steps:
      - name: Checkout git repo
        uses: actions/checkout@v3

      - name: Install Node and NPM
        uses: actions/setup-node@v3
        with:
          node-version: 20
          
      # - name: Set Yarn config
            # run: |
              # yarn config set ELECTRON_MIRROR https://registry.npmmirror.com/-/binary/electron/
              # yarn config set ELECTRON_BUILDER_BINARIES_MIRROR https://registry.npmmirror.com/-/binary/electron-builder-binaries/
              # yarn config set registry https://registry.npmmirror.com/

      - name: Install and build
        run: |
          yarn install
          yarn postinstall
          yarn build

      - name: Publish releases
        run: |
          # yarn electron-builder -- --publish always --mac
          # yarn electron-builder -- --publish always --windows
          yarn electron-builder -- --publish always --linux
          
      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          # name: ApiChain_macos
          # name: ApiChain_windows
          name: ApiChain_linux
          path: release/build/
